{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Personal Coding</title>
    <link rel="stylesheet" href="{% static 'assets/coding/bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <h1 class="text-center text-bg-dark">Coding</h1>
    <p class="fs-3 text-center text-bg-dark"><br><br><br><a href="https://github.com/cjparsonson/python-portfolio/tree/main/stock-news" target="_blank">Stock News Notifier</a><br><br><br><a href=https://github.com/cjparsonson/pomodoro-start" target="_blank">Pomodoro Timer</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="{% url 'index' %}">Home</a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'assets/coding/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>